openapi: 3.2.0
info:
  title: Ppro Payment Agreement Revocations API
  version: v1
  description: 'Operations tagged Payment Agreement Revocations across 2 of this provider''s published API definitions: ppro-payment-agreements-openapi.yml, ppro-payment-agreements.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sandbox.eu.ppro.com
  description: Production - Sandbox environment for integration testing
- url: https://api.qa.eu.ppro.com/v1/payment-agreements
  description: QA
security:
- bearer_token: []
tags:
- name: Payment Agreement Revocations
paths:
  /v1/payment-agreements/{agreement-id}/revocations:
    post:
      tags:
      - Payment Agreement Revocations
      summary: Revoke a Payment Agreement
      operationId: revokeAgreement
      parameters:
      - name: agreement-id
        in: path
        required: true
        schema:
          type: string
      - name: Merchant-Id
        in: header
        description: The merchant identifier.
        required: true
        schema:
          type: string
        example: merch_cb6RQnZbBwSBkn34QYXhr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgreementRevocationRequest'
            example: {}
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementRevocationResponse'
    servers:
    - url: https://api.sandbox.eu.ppro.com
      description: Production - Sandbox environment for integration testing
    - url: https://api.qa.eu.ppro.com/v1/payment-agreements
      description: QA
components:
  schemas:
    AgreementRevocationResponse:
      type: object
      properties:
        status:
          type: string
          description: The status of agreement revocation request
          enum:
          - REVOKED
          - FAILED
          example: REVOKED
        failure:
          $ref: '#/components/schemas/ProcessingFailure'
          description: The latest payment agreement processing failure.
    AdditionalData:
      type: object
      properties:
        merchantAdviceCode:
          type: string
          description: Merchant Advice Code (MAC) returned by the payment network on decline, indicating whether and when the payment may be retried.
        merchantAdviceCodeText:
          type: string
          description: Human-readable explanation of the Merchant Advice Code (MAC).
    ProcessingFailure:
      type: object
      properties:
        failureType:
          type: string
          description: The failure type.
          enum:
          - INTERNAL_ERROR
          - INTERNAL_DECLINE
          - PROVIDER_ERROR
          - PROVIDER_DECLINE
        failureCode:
          type: string
          description: The failure code.
        providerFailureCode:
          type: string
          description: The payment provider failure code.
        failureMessage:
          type: string
          description: The failure message.
        isRetryable:
          type: boolean
          description: Indicates whether the merchant should create a fresh new attempt, where initiating a fresh new attempt at a later time may potentially result in a successful outcome.
        additionalData:
          $ref: '#/components/schemas/AdditionalData'
    AgreementRevocationRequest: {}
  securitySchemes:
    bearer_token:
      type: http
      scheme: bearer
x-refined-from:
- ppro-payment-agreements-openapi.yml
- ppro-payment-agreements.json
